body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color:rgb(14, 255, 14);
}
.first{
    float: left;
    width: 40%;
    margin-left: 55px;
    padding-left: 10px;
    margin-top: 20px;
    margin-right: 25px;
}
.first img{
    width: 100%;
}
.banner{
    background-image: url("../image/image 4.png");
    background-repeat: no-repeat;
    background-size: 5%;
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(0, 255, 0),green);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}